@import "reset.css";


/* подключила два типа шрифта, положила на бэкграунд фотку, задала ширину и отцентровала */
body {
  background-image: url(dc-online-media-mockup.png)  ;
  background-repeat: no-repeat;
  background-position: top center;
  /* background-size: 800px 20624px; */
	background-size: 1440px 21440px;
	/* width: 700px;
	margin: 0 auto; */

	font-family: 'PT Sans', sans-serif;
	font-family: 'PT Sans Caption', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
	margin-bottom: 66px;
}


/* стиль цитаты, линия бордером, текст падингом сдвинут, марджин  отрицательный*/
blockquote {
	margin-left: -2px;
	padding-left: 17px;

	border-left: 3px solid black;

	font-family: 'PT Sans', sans-serif;
	font-style: italic;
}

h1, h2, h3, h4, p, h1+p, h2 + p, h3 + p, ul, li, blockquote  {
	width: 700px;
	margin: 0 auto;
}

/* залоговки 3-х уровней, все шрифтом Caption */
h1 {
	margin-top: 66px;

	font-family: 'PT Sans Caption', sans-serif;
	font-size: 40px;
  font-weight: bold;
	line-height: 46px;
}

/* это первый абзац. он исключение: текст Caption*/
h2 {
	margin-top: 43px;

  font-family: 'PT Sans Caption', sans-serif;
	font-size: 32px;
  font-weight: bold;
	line-height: 36px;
}

h3 {
	margin-top: 36px;

	font-family: 'PT Sans Caption', sans-serif;
	font-size: 28px;
	font-weight: bold;
	/* letter-spacing: 2.01; */
	line-height: 34px;
}


p {
	margin-top: 29px;

	letter-spacing: 0px;

	font-family: 'PT Sans', sans-serif;
	font-size: 22px;
	font-weight: normal;
	line-height: 34px;
}


h1 + p {
	margin-top: 14px;

  color: #878787;

	font-family: 'PT Sans Caption', sans-serif;
	line-height: 32px;
}



h2 + p, h3 + p {
margin-top: 7px;
}


ul {
padding: 28px 0px 0px 29px; /* чтобы текст отодвинулся от точечек в списке */

letter-spacing: 0px;

font-family: 'PT Sans', sans-serif;
font-size: 22px;
font-weight: normal;
line-height: 34px;
}

/* вместо <br> нижний отступ */
li {
	margin: 0px 0px 17px;
}

img {
display: block;

width: 1020px;
margin: 80px auto;
}


/*  с картинкой нужно сделать тоже самое что и с боди, задать ширину, поставить width: 700px;
margin: 0 auto; (авто - занимай всю доступную область). картинка сейчас лежит в боди, и ограничена его шириной, надо снести настройки боди, задать такие же нстройки как к боди, так и к картинке, и ко всем элементам через запятую прописать что они должны по середине стоят (?)*/
